.register {
    width: 60%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.register > h1 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ced4da;
    margin-bottom: 2rem;
}
