:root {
    --custom-color: rgb(233, 126, 87);
}

/* GENERAL: cho trang detail */
/* img {
    width: 100%;
} */

/* Common */
.marketing h2,
.marketing h3,
.showcase .showcase-heading {
    font-weight: 400;
}

.carousel,
.marketing,
.showcase,
.pricing {
    margin-bottom: 2rem;
}

/* Utilities */
.bg-custom {
    background-color: var(--custom-color);
}

/* Carousel */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    /* Declare heights beacause of positioning of img element */
    height: 32rem;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

/* Marketing */
.marketing .col-md-3,
.marketing .col-sm-4 {
    margin-bottom: 1.5rem;
    text-align: center; /* Center align the text within the three columns below the carousel */
}

.marketing .col-md-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.marketing a {
    text-decoration: none;
    color: #212529;
    padding-bottom: 3px;
}

.marketing > .row h3 {
    margin-top: 0.5rem;
}

.marketing > .marketing-title a:hover {
    border-bottom: 1px solid #212529;
}

.marketing a.btn-orange,
.marketing .btn-pink {
    color: #fff;
}

.marketing .btn-orange {
    background-color: var(--bs-orange);
    border-color: var(--bs-orange);
}

.marketing .btn-pink {
    background-color: var(--bs-pink);
    border-color: var(--bs-pink);
}

.marketing a.btn:hover {
    transform: scale(1.1);
}

/* footer */
.footer.bg-dark,
.footer.bg-dark a {
    color: #fff;
}

.footer a {
    text-decoration: none;
}

.footer ul {
    list-style: none;
}

.footer .social a {
    margin-left: 0.5rem;
}

.footer nav li {
    margin-bottom: 5px;
}

.footer nav a:hover {
    border-bottom: 1px solid #fff;
}

/* RESPONSIVE CSS 
--------------------------------------------------*/

@media (min-width: 40rem) {
    /* Carousel */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
}

@media (min-width: 768px) {
    /* Showcase */
    .showcase .showcase-heading {
        margin-top: 5rem;
    }
}

/* ================================================================= */

/* Footer */
/* .footer > .d-grid {
    grid-template-columns: repeat(3, 1fr);
}

.footer .container,
.footer a {
    color: #fff;
}

.footer li {
    list-style-type: none;
}

.footer a {
    text-decoration: none;
}

.footer .social a {
    margin: 0 10px;
} */
/* -------------------------------------------------------------------- */

/* Detail Page */
/* Floated Images */
.fig-picture-float-left,
.fig-picture-float-right {
    width: 50%;
    margin-bottom: 30px;
}

.fig-picture-float-left {
    float: left;
    margin-right: 30px;
}

.fig-picture-float-right {
    float: right;
    margin-left: 30px;
}

/* Author */
.author > h2:first-child {
    text-align: center;
}

.author img {
    border-radius: 70%;
    margin: 20px 0;
}

/* Responsive */
@media (max-width: 768px) {
    .myForm {
        display: none;
    }
}
