:root {
    /* --custom-color: rgb(252, 213, 199); */
    --custom-color: rgb(233, 126, 87);
}

/* GENERAL: cho trang detail */
/* img {
    width: 100%;
} */

/* UTILITIES */
.bg-custom {
    background-color: var(--custom-color);
}

/* CUSTOMIZE THE CAROUSEL 
--------------------------------------------------*/

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights beacause of positioning of img element */
.carousel-item {
    height: 32rem;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

/* MARKETING CONTENT 
--------------------------------------------------*/

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

/* RESPONSIVE CSS 
--------------------------------------------------*/
@media (min-width: 40rem) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
}

/* ================================================================= */

/* Home-cards */
.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* margin-bottom: 40px; */
}

.home-cards img {
    width: 100%;
    margin-bottom: 20px;
}

.home-cards h3 {
    margin-bottom: 5px;
}

.home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
}

.home-cards a:hover i {
    margin-left: 10px;
}

/* Footer */
.footer > .d-grid {
    grid-template-columns: repeat(3, 1fr);
}

.footer .container,
.footer a {
    color: #fff;
}

.footer li {
    list-style-type: none;
}

.footer a {
    text-decoration: none;
}

.footer .social a {
    margin: 0 10px;
}
/* -------------------------------------------------------------------- */

/* Detail Page */
/* Floated Images */
.fig-picture-float-left,
.fig-picture-float-right {
    width: 50%;
    margin-bottom: 30px;
}

.fig-picture-float-left {
    float: left;
    margin-right: 30px;
}

.fig-picture-float-right {
    float: right;
    margin-left: 30px;
}

/* Author */
.author > h2:first-child {
    text-align: center;
}

.author img {
    border-radius: 70%;
    margin: 20px 0;
}

/* Responsive */
@media (max-width: 768px) {
    .myForm {
        display: none;
    }
}
