:root {
    --custom-color: rgb(252, 213, 199);
}

/* Utilities */
.bg-custom {
    background-color: var(--custom-color);
}

/* Main navigation */
nav.navbar {
    background-color: rgb(233, 126, 87);
}
