:root {
    --custom-color: rgb(233, 126, 87);
}

/* GENERAL: cho trang detail */
/* img {
    width: 100%;
} */

/* UTILITIES */
.bg-custom {
    background-color: var(--custom-color);
}

/* Carousel */
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    /* Declare heights beacause of positioning of img element */
    height: 32rem;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

/* Marketing */
.marketing .col-md-4 {
    margin-bottom: 1.5rem;
    text-align: center; /* Center align the text within the three columns below the carousel */
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-md-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

/* Showcase */
.showcase .showcase-heading {
    font-weight: 400;
}

/* RESPONSIVE CSS 
--------------------------------------------------*/

@media (min-width: 40rem) {
    /* Carousel */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
}

@media (min-width: 768px) {
    /* Showcase */
    .showcase .showcase-heading {
        margin-top: 7rem;
    }
}

/* ================================================================= */

/* Footer */
.footer > .d-grid {
    grid-template-columns: repeat(3, 1fr);
}

.footer .container,
.footer a {
    color: #fff;
}

.footer li {
    list-style-type: none;
}

.footer a {
    text-decoration: none;
}

.footer .social a {
    margin: 0 10px;
}
/* -------------------------------------------------------------------- */

/* Detail Page */
/* Floated Images */
.fig-picture-float-left,
.fig-picture-float-right {
    width: 50%;
    margin-bottom: 30px;
}

.fig-picture-float-left {
    float: left;
    margin-right: 30px;
}

.fig-picture-float-right {
    float: right;
    margin-left: 30px;
}

/* Author */
.author > h2:first-child {
    text-align: center;
}

.author img {
    border-radius: 70%;
    margin: 20px 0;
}

/* Responsive */
@media (max-width: 768px) {
    .myForm {
        display: none;
    }
}
